.vscode/**
.vscode-test/**
.github/**
src/**
out/**
test/**
scripts/**
node_modules/**
**/*.ts
**/*.map
**/tsconfig*.json
**/eslint.config.mjs
**/.vscode-test.*
esbuild.js
package-lock.json
.gitignore
*.vsix
.local-ext/**
CONTRIBUTING.md
images/*.svg
images/*.png
!images/icon.png
